<!--home-->
<div id="home">
    <div class="content fl">
        <div class="detail_content fl">
            <div class="title_detail">
                <h1>
                    Liên hệ</strong></h1>
            </div>
            <div class="newdetail">
                <div class="box_lienhe">
                    <div class="info_lienhe">
                        <ul>
                            <li class="address">ĐỊA CHỈ</li>
                            <li class="quan">QUẬN HUYỆN</li>
                            <li class="phone_new">ĐIỆN THOẠI</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">57A Huỳnh Thúc Kháng</li>
                            <li class="quan">Đống Đa, HN</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">26 Trần Duy Hưng</li>
                            <li class="quan">Cầu Giấy, HN</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">384 Xã Đàn</li>
                            <li class="quan">Hoàn Kiếm, HN</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">5 Láng Hạ</li>
                            <li class="quan">Cầu Giấy, HN</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">69 Hoàng Quốc Việt</li>
                            <li class="quan">Đống Đa, HN</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">45 Hàng Bài</li>
                            <li class="quan">Hoàn Kiếm, HN</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">493 Điện Biên Phủ</li>
                            <li class="quan">Quận 3, TP HCM</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="address">777 Hồng Bàng</li>
                            <li class="quan">Quận 6, TP HCM</li>
                            <li class="phone_new">0437731188</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
