 <div class="clear"></div>
 <div id="banner">
    <script type='text/javascript'><!--        //<![CDATA[
        var m3_u = (location.protocol == 'https:' ? 'https://adsnet.vn/AdsNetwork/www/delivery/ajs.php' : 'http://adsnet.vn/AdsNetwork/www/delivery/ajs.php');
        var m3_r = Math.floor(Math.random() * 99999999999);
        if (!document.MAX_used) document.MAX_used = ',';
        document.write("<scr" + "ipt type='text/javascript' src='" + m3_u);
        document.write("?zoneid=136");
        document.write('&amp;cb=' + m3_r);
        if (document.MAX_used != ',') document.write("&amp;exclude=" + document.MAX_used);
        document.write(document.charset ? '&amp;charset=' + document.charset : (document.characterSet ? '&amp;charset=' + document.characterSet : ''));
        document.write("&amp;loc=" + escape(window.location));
        if (document.referrer) document.write("&amp;referer=" + escape(document.referrer));
        if (document.context) document.write("&context=" + escape(document.context));
        if (document.mmm_fo) document.write("&amp;mmm_fo=1");
        document.write("'><\/scr" + "ipt>");
//]]>--></script><noscript><a href='http://adsnet.vn/AdsNetwork/www/delivery/ck.php?n=a3fb91ae&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://adsnet.vn/AdsNetwork/www/delivery/avw.php?zoneid=136&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a3fb91ae' border='0' alt='' /></a></noscript>

 </div>

 <!--footer-->
        <div id="footer">
        	<div class="truycap_nhanh">
            	<div class="title_truycap">
                	<h2>Truy cập nhanh</h2>
                </div>
                <div class="content_truycapnhanh">
               	  <div class="menu_footer">
                    	<li><a href="{DNS}/Page/home.html">Trang chủ</a></li>
                      <img src="{DNS}/img/icon_next.png" title="" alt=""  />                    
                  </div>
                  <div class="menu_footer">
                    	<li><a href="{DNS}/Page/reg.html">Đăng ký</a></li>
                      <img src="{DNS}/img/icon_next.png" title="" alt=""  />                    
                  </div>
                  
                  <div class="menu_footer">
                    	<li><a href="{DNS}/Page/promo.html">Khuyến mại</a></li>
                      <img src="{DNS}/img/icon_next.png" title="" alt=""  />                    
                  </div>
                </div>
            </div>
        	<div class="copy_right fl">
            	<p>Phát triển bởi VinaPhone 2005-2014. Bản quyền đã đăng ký.</br>
Giấy phép số: 337/GP-BC do Bộ Thông tin</br> Truyền thông cấp ngày 10/11/2006.
</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
<!--end main-->    
</body>
</html>
