<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{0}</title>
<meta name="viewport" content="width=device-width; target-densitydpi=device-dpi; initial-scale=1.0; maximum-scale=1.0; user-scalable=yes" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="ROBOTS" content="Metaflow" />
<meta name="robots" content="index, follow, all" />
<meta name="AUTHOR" content="" />
<meta name="revisit-after" content="1 days" />
<link rel="shortcut icon" href="{DNS}/img/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="{DNS}/img/favicon.ico" type="image/x-icon"/>
<link href="{DNS}/Style/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{DNS}/Style/compactmenu.css" />
<!-- Required Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<!-- Load Menu Specific Files -->
<script src="{DNS}/Scripts/compactmenu.js"></script>
<script src="{DNS}/Scripts/Begin.js"></script>

</head>

<body>
<!--main-->
	<div id="container">
    	<div id="header">
        	<div class="topbar fl">
            	<div class="logo fl">
                	<a href="{DNS}/Page/home.html"><img src="{DNS}/img/vinaphone.png" alt="" title="" /></a>
                </div>
                <div class="phone_top fr">
                		<p><img src="{DNS}/img/icon_phone.png" alt="" title="" />{1}</p>
                  </div>
            </div>
			<div class="container">
                <div id="menu3">
                  <div class="icon compactanchor">
                    Icon
                  </div>
                  <div class="phone fr">
                		<a href="{DNS}/Page/reg.html"><img src="{DNS}/img/dang_ky.png" alt="" title="" /></a>
                  </div>
                      <ul>
                        <li><a href="{DNS}/Page/home.html">Home</a></li>
                        <li><a href="{DNS}/Page/service.html">Dịch vụ</a></li>
                        <li><a href="{DNS}/Page/guide.html">Hướng dẫn chơi</a></li>
                        <li><a href="{DNS}/Page/winner.html">Khách hàng trúng thưởng</a></li>
                        <li><a href="{DNS}/Page/rule.html">Thể lệ giải thưởng</a></li>
                        <li><a href="{DNS}/Page/faq.html">Hỏi đáp</a></li>
                        <li><a href="{DNS}/Page/contact.html">Liên hệ</a></li>
                      </ul>
                </div>
              </div>
        </div>
        <div class="clear"></div>