<div id="home">
    <div class="content fl">
        <div class="detail_content fl">
            <div class="title_detail">
                <h1>
                   <strong>Đăng ký</strong></h1>
            </div>
            <div class="newdetail">
               <div class="dang_ky">
                    <div class="content_dangky">
                        <li>Xin chào <strong style="color: #fd9800;">{0}</strong></br> Bạn đã đăng ký tham gia chương trình và có cơ hội nhận giải thưởng ngày điện thoại <strong>Nokia Lumia</strong></li>
                    </div>
                    <div class="content_dangky">
                        <p>
                            <strong>Để hủy đăng ký, xin vui lòng click vào nút bên dưới</strong></p>
                    </div>
                    <div class="images_dangky">
                        <a href="{DNS}/page/{1}/dereg.html">
                            <img src="{DNS}/img/huy.png" title="" alt="" /></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
