<div id="home">
    <div class="content fl">
        <div class="detail_content fl">
            <div class="title_detail">
                <h1>
                   <strong>Đăng ký</strong></h1>
            </div>
            <div class="newdetail">
                <div class="dang_ky">
                    <div class="content_dangky">
                        <li>Xin chào <strong style="color: #fd9800;">{0}</strong></br> Đăng ký ngay để tham gia chương trình và nhận giải thưởng ngày điện thoại <strong>Nokia Lumia</strong></li>
                    </div>
                    <div class="images_dangky">
                        <a href="{DNS}/reg/accept.html?para={1}">
                            <img src="{DNS}/img/dang_ky_ngay.png" title="" alt="" /></a>
                    </div>
                    <div class="content_dangky">
                        <p>
                            <strong>"Miễn phí ngày đầu khi đăng ký lần đầu tiên"</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
