@charset "utf-8";
* {margin:0; padding:0;}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	line-height:24px;
	color:#575757;
	text-align:center;
	background: #fff;
}

table{width: 100%;}
table, th, td{font-size: 100%;}
table {border-collapse:collapse;border-spacing:0;}
td{vertical-align: top;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span,font,strong {
margin:0;
padding:0;
}
h1 {font-size:18px; color:#0173a2;}
h2 {font-size:16px; color:#0173a2;}
h3 {font-size:13px; color:#000;}
h4 {font-size:14px; color:#0173a2;}
h5 {font-size:13px; color:#0173a2;}
h6 {font-size:12px; color:#0173a2;}
p {font-size:12px; color:#333333;}
ul, li { list-style:none;}
a{color:#575757; text-decoration:none;}
a:hover {color:#0173a2; text-decoration:none;}
img { border: 0 none;}
.top { margin-top:15px;}
.bottom { margin-bottom:10px;}
.fl{ float:left;}
.fr{ float: right;}
.alignl{ text-align:left;}
.alignr{ text-align: right;}
.alignj {text-align:justify;}
.imgleft{float: left;}
.imgright{float: right;}
.blue { color:#004c87;}
.red{ color:#ed1c24;}
.clear {clear: both;}
/* main */
#container {width:100%; margin: 0 auto; height:auto;}
.container { width:100%; float:left; background:#38acf5;}
/* header */
#header {width:100%; float:left;}
.topbar{width:100%; background:#2e9bdf; height:55px; border-bottom:1px solid #76C3EC;}
.logo img { width:155px; height:45px; float:left;}
.phone { width:93px; float:right; position: absolute; top:-6px; left:225px;}
.phone p{font-size:13px; list-style:none; font-style:normal; font-weight:normal; line-height:48px; text-align:right; color:#fff; padding-right:7px; font-family:Arial, Helvetica, sans-serif;}
.phone img { width:93px; height:25px; float:left; margin:10px 5px 0px 0px;}
.phone_top { width:90px; float:right;}
.phone_top p{font-size:11px; list-style:none; font-style:normal; font-weight:normal; line-height:48px; text-align:right; color:#add4ec; padding-right:7px; font-family:Arial, Helvetica, sans-serif;}
.phone_top img { width:7px; height:16px; float:left; margin:15px 5px 0px 0px;}
.navigation {width:100%; margin:6px 0px;}
.navigation ul {margin:0; padding:0;}
.navigation li {float:left; padding-left:3px; font-size:12px; list-style:none; font-style:normal; font-weight:bold; line-height:20px; text-align:right; color:#fff;}
.navigation li a{ background:#00a1e4; padding:0px 8px;color:#fff; border-radius:3px;-moz-border-radius:3px; display:block;}
.navigation li a:hover{ background:#21baf9; display:block;color:#fff;}
.navigation li a.select{ background:#0173a2; display:block;color:#fff;}
.icon { width:14px; height:16px;}
/*home*/
#home {width:100%; float:left;}
.list_service {width:100%;}
.list_service img { width:320px; float:left;}

/*footer*/
#footer {width:100%; float:left; background:#e5f6fe;}
.truycap_nhanh { width:100%; float:left;}
.title_truycap { width:100%; float:left; background:#38acf5;}
.title_truycap h2 { font-size:12px; text-align:left; padding-left:5px; color:#fff;}
.content_truycapnhanh { width:100%; float:left; background:#fff;}
.menu_footer { width:100%; float:left; border-bottom: solid 1px #38acf5;}
.menu_footer li { font-size:12px; color:#333; line-height:24px; text-align:left; padding-left:5px; float:left; }
.menu_footer img { width:9px; height:10px; float:right; margin-right:5px; margin-top:5px; }
.copy_right {width:100%; margin:6px 0px;}
.copy_right p {text-align: center; color:#575757; font-weight: normal; font-style:normal; line-height:16px; font-size:11px;}

/* Trang hướng dẫn */
.content {width:100%;}
.detail_content{width:100%; margin-bottom:30px;}
.title_detail{width:100%; background:url(../images/bg_title.jpg) repeat-x; height:26px; margin-bottom:8px; min-height:26px;}
.title_detail h1{line-height:26px; text-align:left; color:#2e9bdf; font-weight:bold; font-size:12px;width:98%; margin:0 auto;}
.newdetail {width:98%; margin: 0 auto;}
.newdetail_in{width:100%;}
.newdetail_in p {text-align: justify; color:#575757; font-weight: normal; font-style:normal; line-height:22px; font-size:12px; padding:5px;}
.tieude_hoidap {text-align:left; color:#333; font-weight:bold; font-style:normal; line-height:22px; font-size:12px;}
.chitiet_noidung {text-align: justify; color:#575757; font-weight: normal; font-style:normal; line-height:22px; font-size:12px; padding:5px;}

/* Khách hàng trúng thưởng */
.box_khachhang{width:100%; float:left;}
.info_khachhang {width:100%; float:left;height:30px; border-bottom: solid 1px #ccc;}
.info_khachhang ul{ margin:0; padding:0;}
.info_khachhang li{float:left; line-height:20px; color:#000; font-size:10px; text-align:left; font-weight:bold;}
.stt { width:20px;}
.ngay { width:15px; margin:0px 3px;}
.hoten { width:50px; margin:0px 5px;}
.dienthoai { width:85px; }
.diachi { width:70px; margin:0px 5px; }
.giaithuong { width:60px; font-weight:bold; }
.khachhang{width:100%; float:left; margin-top:5px; border-bottom: solid 1px #ccc;}
.khachhang ul{ margin:0; padding:0;}
.khachhang li{float:left; line-height:16px; color:#000; font-size:11px; text-align:left;}

/* Liên hệ */
.box_lienhe{width:100%; float:left;}
.info_lienhe {width:100%; float:left; background:#c2e6f1; height:25px;}
.info_lienhe ul{ margin:0; padding:0;}
.info_lienhe  li{float:left; line-height:25px; text-align:left; color:#015884; font-size:11px; text-transform:uppercase; font-weight: bold; font-style:normal;}
.name { width:90px; margin-left:10px;}
.address { width:115px;margin:0px 10px 0px 10px;}
.quan { width:90px; margin-right:5px; float:left;}
.phone_new { width:80px;}
.member{width:100%; float:left; margin-top:5px;}
.member ul{ margin:0; padding:0;}
.member li{float:left; line-height:20px; color:#000; font-size:10px; text-align:left;}

/* Đăng ký */
.dang_ky { width:300px; float:left; margin-left:8px; background:#e5f6fe; border-radius:5px;}
.dang_ky li { font-size:13px; color:#333; text-align:center; line-height:20px; padding-bottom:10px;}
.dang_ky h6 {font-size:13px; color:#f00; text-align:center; line-height:20px; padding:10px 0px;}
.content_dangky { width:100%; float:left; margin-top:5px;}
.dang_ky p { font-size:13px; color:#333; text-align:center; line-height:20px; padding-top:5px; margin-bottom:10px;}
.dang_nhap { width:290px; float:left; margin-left:10px; margin-top:10px; margin-bottom:10px;}
.dang_nhap h2 { font-size:12px; color:#2e9bdf; text-align:left; line-height:21px; padding-top:0px; font-weight:bold;}
.images_dangky { width:100%; float:left;}
.images_dangky img { width:112px; height:31px; margin:5 auto;}
















.service {width:100%; margin-bottom:15px;}
.title_service{width:100%; background:url(../images/bg_title.jpg) repeat-x; height:26px; margin-bottom:8px; min-height:26px;}
.title_service h2{line-height:26px; text-align:left; color:#0173a2; font-weight:bold; font-size:12px; width:98%; margin:0 auto;}
a.link_name_service {color:#0173a2;}
a.link_name_service:hover {color:#ed1c24;}
.img_service {}
.img_service img{width:98px; height:65px; float:left; margin:0px 10px; border:2px solid #fff;}
.img_service img:hover{border:2px solid #00a1e4;}
.info_service {}
.info_service p {text-align:left; color:#333; font-weight: normal; font-style:normal; line-height:18px; font-size:12px; padding-right:10px;}

.register_package {width:100%; margin-top:10px;}
.register_package_in {width:98%; margin:0 auto; }
.box_package {width:100%;border:1px dashed #cacaca;}
.title_register{height:26px;background:#fff;width:115px; text-align:center; margin:-15px auto;}
.title_register h3{line-height:26px; text-align: center; color:#00a1e4; font-weight:bold; font-size:12px;}
.image_package {width:100%; margin:10px 0px;}
.image_package img { text-align:center;}
.note {width:100%;}
.note p {text-align:center; color:#575757; font-weight: bold; font-style:normal; line-height:18px; font-size:12px; padding:0px 10px 5px 10px;}


/* Trang dịch vụ */
.list_package{width:100%;}
.package {width:44%; margin:0px 10px 20px 10px;}
.title_package{width:100%;margin-bottom:8px;}
.title_package h2{line-height:26px; text-align: center; color:#0173a2; font-weight:bold; font-size:12px;}
.img_package { width:100%; text-align:center; float:left;}
.img_package img{width:83px; height:66px;border-radius:5px;-moz-border-radius:5px; margin-bottom:6px;}
.info_package { width:100%;}
.info_package p {text-align: center; color:#575757; font-weight: normal; font-style:normal; line-height:18px; font-size:11px; padding-right:10px;}

/* Trang chi tiết dịch vụ */
.package_other {width:100%; margin-top:30px;}
.title_package_other{width:100%; margin-bottom:10px;}
.title_package_other h3{ width:100px;line-height:18px; text-align:left; color:#ed1c24; font-weight:bold; font-size:12px; border-bottom:1px solid #1190DD;}
.name_package_other{width:100%;}
.name_package_other img{width: 4px; height:4px; float:left; margin:8px 6px 0px 0px;}
.name_package_other h4{line-height:20px; text-align:left; color:#0173a2; font-weight: normal; font-size:12px;}
a.link_other {color:#575757;}
a.link_other:hover {color:#0173a2; font-weight:bold;}

#banner
{
    width:100%;
    padding:0px;
    margin-top:8px;
}
#banner a
{
     margin:0px;
    padding:0px;
}
#banner a img
{
    width:100%;
    margin:0px;
    padding:0px;
}