  <!--home-->
        <div id="home">
        	<div class="content fl">
                	<div class="detail_content fl">
                        <div class="title_detail">
                            <h1>Thể lệ giải thưởng</strong></h1>
                        </div>
                        <div class="newdetail">
                        	<div class="newdetail_in fl">
                            	<p><strong>Phương thức xác định thuê bao trúng thưởng:</strong>
- Nguyên tắc lựa chọn thuê bao trúng thưởng: Các thuê bao được xét trúng thưởng theo thứ tự ưu tiên sau:</br>
+ Thuê bao dự đoán đúng tên người nổi tiếng của phiên dự đoán;</br>
+ Số lần thực hiện mua dữ kiện thông tin của thuê bao là ít nhất và duy nhất;</br>
+ Nếu không có thuê bao nào có số lần thực hiện mua dữ kiện là duy nhất, xét trên tập thuê bao có số lần thực hiện mua dữ kiện là như nhau và có số lượng thuê bao ít nhất, lựa chọn thuê bao dự đoán đúng tên Người nổi tiếng sớm nhất. </br> 
                            </p>
                            </div>
                        </div>
                	</div>

            </div>
        </div>