  <!--home-->
        <div id="home">
        	<div class="content fl">
                	<div class="detail_content fl">
                        <div class="title_detail">
                            <h1>Thể lệ giải thưởng</strong></h1>
                        </div>
                        <div class="newdetail">
                        	<div class="newdetail_in fl">
                            	<p><strong>Phương thức xác định thuê bao trúng thưởng:</strong>
                                </p>
                                <p>
                                    Nguyên tắc lựa chọn thuê bao trúng thưởng trong tuần: Gồm 2 bước</br>
                                    <b>- Bước 1:</b> Lựa chọn thuê bao chiến thắng theo ngày: Các thuê bao chiến thắng trong ngày được xét theo thứ tự ưu tiên sau:
                                    <br />+ Thuê bao dự đoán đúng tên người nổi tiếng của phiên dự đoán;
                                    <br />+ Số lần thực hiện mua dữ kiện thông tin của thuê bao là ít nhất và duy nhất;
                                    <br />+ Nếu không có thuê bao nào có số lần thực hiện mua dữ kiện là duy nhất, xét trên tập thuê bao có số lần thực hiện mua dữ kiện là như nhau và có số lượng thuê bao ít nhất, lựa chọn thuê bao dự đoán đúng tên Người nổi tiếng sớm nhất.
                                    <br /><b>- Bước 2:</b> Lựa chọn thuê bao chiến thắng trong tuần
                                    <br />+ Dựa trên kết quả thuê bao chiến thắng theo ngày, lựa chọn thuê bao có số lần chiến thắng nhiều nhất trong tuần để trao giải. Trường hợp có > 2 thuê bao có cùng số lần chiến thắng như nhau thì dựa vào tổng thời gian dự đoán sớm hơn để lựa chọn thuê bao chiến thắng chung cuôc nhận giải 5 triệu đồng tiền mặt hàng tuần từ VinaPhone
                                </p>
                            </div>
                        </div>
                	</div>

            </div>
        </div>