<!--home-->
<div id="home">
    <div class="content fl">
        <div class="detail_content fl">
            <div class="title_detail">
                <h1>
                    Nhận diện người nổi tiếng - Dịch vụ giải trí đa sắc màu</strong></h1>
            </div>
            <div class="newdetail">
                <div class="box_khachhang">
                    <div class="info_khachhang">
                        <ul>
                            <li class="stt">STT</li>
                            <li class="hoten">Họ tên</li>
                            <li class="dienthoai">Sđt</li>
                            <li class="diachi">Địa chỉ</li>
                            <li class="giaithuong">Giải thưởng</li>
                        </ul>
                    </div>
                    <div class="khachhang">
                        <li class="stt"><span class="c">1</span></li>
                        <li class="hoten">---</li>
                        <li class="dienthoai">---</li>
                        <li class="diachi">---</li>
                        <li class="giaithuong">---</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
