<!--home-->
<div id="home">
    <div id="home_in">
        <div class="huongdan_choi">
            <div class="box_huongdan_choi">
                <div class="noidung_huongdan_choi">
                    <div class="noidung_huongdan_choi_in scroll-pane">
                        <h1 class="left">
                            LIÊN HỆ</h1>
                        <div class="box_lienhe">
                            <div class="info_lienhe">
                                <ul>
                                    <li class="address">ĐỊA CHỈ</li>
                                    <li class="quan">QUẬN HUYỆN</li>
                                    <li class="phone">ĐIỆN THOẠI</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">57A Huỳnh Thúc Kháng</li>
                                    <li class="quan">Đống Đa, HN</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">26 Trần Duy Hưng</li>
                                    <li class="quan">Cầu Giấy, HN</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">384 Xã Đàn</li>
                                    <li class="quan">Hoàn Kiếm, HN</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">5 Láng Hạ</li>
                                    <li class="quan">Cầu Giấy, HN</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">69 Hoàng Quốc Việt</li>
                                    <li class="quan">Đống Đa, HN</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">45 Hàng Bài</li>
                                    <li class="quan">Hoàn Kiếm, HN</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">493 Điện Biên Phủ</li>
                                    <li class="quan">Quận 3, TP HCM</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                            <div class="member">
                                <ul>
                                    <li class="address">777 Hồng Bàng</li>
                                    <li class="quan">Quận 6, TP HCM</li>
                                    <li class="phone">0437731188</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
