 <!--footer-->
            <div id="footer">
            	<div id="footer_in">
                	<div class="add_footer">
                    	<div class="logo_footer">
                        	<a href="http://www.vinaphone.com.vn/"><img src="{DNS}/images/logo_vinaphone.png" alt="" title="" /></a>
                        </div>
                        <div class="add_cty">
                        	<div class="nav_footer">
                                <ul>
                                    <li><a class="wrapping-link-inline" href="http://www.vinaphone.com.vn/">Trang chủ</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://www.vinaphone.com.vn/aboutus/gioithieu">Giới thiệu</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://www.vinaphone.com.vn/new/homepage">Tin tức</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://www.vinaphone.com.vn/services/homepage">Dịch vụ</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://vinaphone.com.vn/devices/homepage">Thiết bị</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://www.vinaphone.com.vn/products/homepage">Gói cước</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://vinaphone.com.vn/supports/homepage">Hỗ trợ</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://vinaphone.com.vn/supports/support">Liên hệ</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://vinaphone.com.vn/locale.do?language=en">English</a></li>
                                </ul>
                        	</div>
                            <div class="copyright">
                            	<li>Phát triển bởi VinaPhone 2005-2014. Bản quyền đã đăng ký.</li>
                                <li>Giấy phép số: 337/GP-BC do Bộ Thông tin - Truyền thông cấp ngày 10/11/2006.</li>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </td>
  </tr>
</table>

</body>
</html>
