<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{0}</title>
    <link rel="icon" href="{DNS}/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{DNS}/img/favicon.ico" type="image/x-icon" />
    <link href="{DNS}/style/style.css" rel="stylesheet" type="text/css" />
    <script src="{DNS}/Scripts/google.js" type="text/javascript"></script>
    {1}
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <div id="container">
                    <!--header-->
                    <div id="header">
                        <div id="header_in">
                            <div class="banner">
                                <div class="banner_in">
                                    <div class="logo">
                                        <a href="{DNS}/page/home.html">
                                            <img src="{DNS}/Images/logo_vinaphone.png" alt="" title="" /></a>
                                    </div>
                                    <div class="top_bar">
                                        <ul style="margin-left: 8px;">
                                            <li><a href="http://vinaphone.com.vn/supports/dangkydichvu">Đăng ký dịch vụ</a></li>
                                            <li>|</li>
                                            <li><a href="http://billing.vinaphone.com.vn/">Tra cước</a></li>
                                            <li>|</li>
                                            <li><a href="http://chonso.vinaphone.com.vn/">Chọn số</a></li>
                                            <li>|</li>
                                            <li><a href="http://cskh.vinaphone.com.vn/">Chăm sóc khách hàng</a></li>
                                            <li>|</li>
                                            <li><a href="http://vinaphone.com.vn/personals/homepage">Trang cá nhân</a></li>
                                            <li>|</li>
                                            <li><a href="{DNS}/VNPLogin.aspx">Đăng nhập</a></li>
                                            <li>|</li>
                                            <li><a href="{DNS}/Page/Reg.html">Đăng ký</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="h_nav">
                                <div class="navigation">
                                    <div class="nav">
                                        <ul style="margin-left: 0px;">
                                            <li><a href="{DNS}/Page/Home.html" class="select">
                                            <img src="{DNS}/images/icon_home.png" alt="" title="" class="icon" /></a></li>
                                            <li><a href="{DNS}/Page/Service.html">Thông tin dịch vụ</a></li>
                                            <li><a href="{DNS}/Page/Guide.html">Hướng dẫn cách chơi</a></li>
                                            <li><a href="{DNS}/Page/Winner.html">Khách hàng trúng thưởng</a></li>
                                            <li><a href="{DNS}/Page/Rule.html">Thể lệ giải thưởng</a></li>
                                            <li><a href="{DNS}/Page/FAQ.html">Hỏi đáp</a></li>
                                            <li><a href="{DNS}/Page/Contact.html">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
