<!--home-->
<div id="home">
    <div id="home_in">
        <div class="huongdan_choi">
            <div class="box_huongdan_choi">
                <div class="noidung_huongdan_choi">
                    <div class="noidung_huongdan_choi_in scroll-pane">
                        <h1 class="left">
                            THỂ LỆ GIẢI THƯỞNG</h1>
                        <li class="noidung_choi"><strong>Phương thức xác định thuê bao trúng thưởng:</strong></br> - Nguyên tắc lựa chọn thuê bao trúng thưởng: Các thuê bao được xét trúng thưởng theo thứ tự ưu tiên sau:</br> + Thuê bao dự đoán đúng tên người nổi tiếng của phiên dự đoán;</br> + Số lần thực hiện mua dữ kiện thông tin của thuê bao là ít nhất và duy nhất;</br> + Nếu không có thuê bao nào có số lần thực hiện mua dữ kiện là duy nhất, xét trên tập thuê bao có số lần thực hiện mua dữ kiện là như nhau và có số lượng thuê bao ít nhất, lựa chọn thuê bao dự đoán đúng tên Người nổi tiếng sớm nhất. </li>
                        </br>
                    </div>
                    <div class="bg_bar">
                        <img src="{DNS}/images/bg_bar.jpg" alt="" title="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
