<!--home-->
<div id="home">
    <div id="home_in">
        <div class="huongdan_choi">
            <div class="box_huongdan_choi">
                <div class="noidung_huongdan_choi">
                    <div class="noidung_huongdan_choi_in scroll-pane">
                        <h1 class="left">
                            THÔNG TIN DỊCH VỤ
                        </h1>
                        <li class="noidung_choi"><strong>Nhận diện người nổi tiếng - Dịch vụ giải trí đa sắc màu</strong></br> Dịch vụ Nhận diện Người nổi tiếng là chương trình khuyến mại dành riêng cho các khách hàng là thuê bao của dịch vụ. Các thuê bao của dịch vụ Nhận diện Người nổi tiếng sẽ được tham gia dự đoán tên một Người nổi tiếng mỗi ngày. Tham gia vào dịch vụ Nhận diện Người nổi tiếng sẽ giúp khách hàng mở rộng vốn kiến thức và chứng tỏ sự am hiểu biết của mình về những con người, những nhân vật nổi tiếng trong nước và quốc tế trong các lĩnh vực khoa học, lịch sử, văn học, âm nhạc, điện ảnh, văn hóa xã hội... Mỗi ngày sẽ có một phiên dự đoán tên người nổi tiếng, phiên dự đoán bắt đầu từ 08h00 đến 23h59’ hàng ngày. 
                            Người chơi xuất sắc nhất trong tuần sẽ có cơ hội nhận được giải thưởng là 5 triệu đồng tiền mặt từ VinaPhone.</br> 
                        Ngoài ra, khách hàng sẽ nhận được một bản tin nội dung liên quan đến lĩnh vực hoạt động của người nổi tiếng như là một cơ sở tiền đề để dự đoán.</br> <strong>Ví dụ:</strong> Ngày 15/08/2014, người nổi tiếng của dịch vụ là ca sĩ Đàm Vĩnh Hưng. Các thuê bao của dịch vụ sẽ nhận được một bản tin nội dung liên quan đến lĩnh vực âm nhạc. Khi thực hiện thao tác mua dữ kiện thông tin về người nổi tiếng, khách hàng sẽ được nhận các thông tin xoay xung quanh ca sĩ Đàm Vĩnh Hưng. </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
