 <!--home-->
            <div id="home">
            	<div id="home_in">
                	<div class="huongdan_choi">
                    	<div class="box_huongdan_choi">
                        	
                            <div class="noidung_huongdan_choi">
                            	<div class="noidung_huongdan_choi_in scroll-pane">
                                	<h1 class="left">KHÁCH HÀNG TRÚNG THƯỞNG</h1>
                                	<div class="box_khachhang">
                                    	<div class="info_khachhang">
                                        	<ul>
                                            	<li class="stt">STT</li>
                                                <li class="hoten">Họ tên</li>
                                            	<li class="dienthoai">Sđt</li>
                                                <li class="diachi">Địa chỉ</li>
                                                <li class="giaithuong">Giải thưởng</li>
                                            </ul>
                                        </div>
									    
                                       <div class="khachhang">
                                            	<li class="stt"><span class="c">1</span></li>
                                                <li class="hoten">---</li>
                                            	<li class="dienthoai">---</li>
                                                <li class="diachi">---</li>
                                                <li class="giaithuong">---</li>
                                        </div>
										
										
                                	</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>