<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailReport_EmailAccount" value="reports@hbcom.vn"/>
    <add key="EmailReport_Password" value="dasdasd35435342sedsswa"/>
    <add key="EmailReport_EmailReceiveList" value="tanhoang@hbcom.vn" />
    <add key="EmailReport_Subject" value="THỐNG KÊ DỊCH VỤ MTRAFFIC NGÀY " />
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="SQLConnecton_MTraffic" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueakDsYcnqZlBgspUBayMttyIqcrwLtYeuh/bj0VpXORGxp0EnpIpLb58obyDUOUc3XRkkkaSGbSC59O0Pdm0yDOfq+5riO4wBrtgdb0RY0CMQluhZ45RcL2I41J3coCOFEj/bZxLWflXJoPTxQ5kmgb52wgsjkGGdcwppEID+ylQ1skeGO5LUPebTG/8gqjRbU=" />
  </connectionStrings>
</configuration>