<!--home-->
<div id="home">
    <div id="home_in">
        <div class="huongdan_choi">
            <div class="box_huongdan_choi">
                <div class="noidung_huongdan_choi">
                    <div class="noidung_huongdan_choi_in scroll-pane">
                        <h1 class="left">
                            ĐĂNG KÝ DỊCH VỤ</h3>
                            <div class="reg_note" style="text-align: center;">
                                <p>
                                    Xin chào thuê bao {0}. Quý Khách đã đăng ký sử dụng dịch vụ <strong>Nhận diện người nổi tiếng</strong></p>
                                    <p>Để hủy dịch vụ, xin vui lòng click nào nút bên dưới</p>
                                     <p style="margin-top:10px;">
                                    <a href="{DNS}/vnp/2/redirectvnp.html">
                                        <img src="{DNS}/images/Huy.png" />
                                    </a>
                                </p>
                                <p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
