<!--home-->
<div id="home">
    <div id="home_in">
        <div class="huongdan_choi">
            <div class="box_huongdan_choi">
                <div class="noidung_huongdan_choi">
                    <div class="noidung_huongdan_choi_in scroll-pane">
                        <h1 class="left">
                            ĐĂNG KÝ DỊCH VỤ</h1>
                            <div class="noidung_choi" style="text-align: center;">
                                <p>
                                    Xin chào thuê bao {0}. Quý Khách chưa đăng ký sử dụng dịch vụ <strong>Nhận diện người nổi tiếng</strong><br />
                                    Đăng ký ngay để chơi và nhận giải thưởng.</p>
                                <p style="margin-top:10px;">
                                    <a href="{DNS}/Page/Accept.html?para={1}">
                                        <img src="{DNS}/images/dang_ky_ngay.png" />
                                    </a>
                                </p>
                                <p>
                                    <strong>(Miễn phí ngày đầu khi đăng ký lần đầu tiên)</strong></p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
