<!--home-->
<div id="home">
    <div id="home_in">
        <div class="huongdan_choi">
            <div class="box_huongdan_choi">
                <div class="noidung_huongdan_choi">
                    <div class="noidung_huongdan_choi_in scroll-pane">
                        <h1 class="left">
                            ĐĂNG KÝ DỊCH VỤ</h1>
                            <div class="reg_note" style="text-align: center;">
                                <p>
                                    Không nhận diện được số điện thoại, xin vui lòng click <a href="{DNS}/VNPLogin.aspx">vào đây </a>để đăng nhập</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
