<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dịch vụ </title>
<meta name="viewport" content="width=device-width; target-densitydpi=device-dpi; initial-scale=1.0; maximum-scale=1.0; user-scalable=yes" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="ROBOTS" content="Metaflow" />
<meta name="robots" content="index, follow, all" />
<meta name="AUTHOR" content="" />
<meta name="revisit-after" content="1 days" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!-- Required Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<!-- Load Menu Specific Files -->
<script src="js/compactmenu.js"></script>
<link rel="stylesheet" type="text/css" href="css/compactmenu.css" />
<script>

    $(function() {
					$("#menu1").menu({
						transition: 'inside-slide-fade-left'
					}); 
					 
					$("#menu2").menu({
						theme: 'theme-theme2'
					}); 
					 
					$("#menu3").menu({
						theme: 'theme-theme3',
						transition: 'set3'
					}); 
    });
</script>


</head>

<body>
<!--main-->
	<div id="container">
    	<div id="header">
        	<div class="topbar fl">
            	<div class="logo fl">
                	<a href="index.html"><img src="images/vinaphone.png" alt="" title="" /></a>
                </div>
                <div class="phone_top fr">
                		<p><img src="images/icon_phone.png" alt="" title="" />84919438389</p>
                  </div>
            </div>
			<div class="container">
                <div id="menu3">
                  <div class="icon compactanchor">
                    Icon
                  </div>
                  <div class="phone fr">
                		<a href="dang-ky.html"><img src="images/dang_ky.png" alt="" title="" /></a>
                  </div>
                      <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="dich-vu.html">Dịch vụ</a></li>
                        <li><a href="huong-dan-choi.html">Hướng dẫn chơi</a></li>
                        <li><a href="khach-hang-trung-thuong.html">Khách hàng trúng thưởng</a></li>
                        <li><a href="the-le-giai-thuong.html">Thể lệ giải thưởng</a></li>
                        <li><a href="hoi-dap.html">Hỏi đáp</a></li>
                        <li><a href="lien-he.html">Liên hệ</a></li>
                      </ul>
                </div>
              </div>
        </div>
        <div class="clear"></div>
        
        <!--home-->
        <div id="home">
        	<div class="content fl">
                	<div class="detail_content fl">
                        <div class="title_detail">
                            <h1>Nhận diện người nổi tiếng - Dịch vụ giải trí đa sắc màu</strong></h1>
                        </div>
                        <div class="newdetail">
                        	<div class="newdetail_in fl">
                            	<p><strong>Dịch vụ Nhận diện Người nổi tiếng</strong> là chương trình khuyến mại dành riêng cho các khách hàng là thuê bao của dịch vụ. Các thuê bao của dịch vụ Nhận diện Người nổi tiếng sẽ được tham gia dự đoán tên một Người nổi tiếng mỗi ngày. Tham gia vào dịch vụ Nhận diện Người nổi tiếng sẽ giúp khách hàng mở rộng vốn kiến thức và chứng tỏ sự am hiểu biết của mình về những con người, những nhân vật nổi tiếng trong nước và quốc tế trong các lĩnh vực khoa học, lịch sử, văn học, âm nhạc, điện ảnh, văn hóa xã hội... Mỗi ngày sẽ có một phiên dự đoán tên người nổi tiếng, phiên dự đoán bắt đầu từ 08h00 đến 23h59’ hàng ngày. Trước khi bắt đầu mỗi phiên dự đoán, khách hàng sẽ nhận được bản tin SMS mời khách hàng tham gia dự đoán tên một người nổi tiếng và hướng dẫn khách hàng mua dữ kiện thông tin để có cơ sở dự đoán.</br>
Ngoài ra, khách hàng sẽ nhận được một bản tin nội dung liên quan đến lĩnh vực hoạt động của người nổi tiếng như là một cơ sở tiền đề để dự đoán.</br>
<strong>Ví dụ:</strong> Ngày 15/08/2014, người nổi tiếng của dịch vụ là ca sĩ Đàm Vĩnh Hưng. Các thuê bao của dịch vụ sẽ nhận được một bản tin nội dung liên quan đến lĩnh vực âm nhạc. Khi thực hiện thao tác mua dữ kiện thông tin về người nổi tiếng, khách hàng sẽ được nhận các thông tin xoay xung quanh ca sĩ Đàm Vĩnh Hưng. </br> 
                            </p>
                            </div>
                        </div>
                	</div>
            </div>
        </div>
        <div class="clear"></div>
        
        <!--footer-->
        <div id="footer">
        	<div class="truycap_nhanh">
            	<div class="title_truycap">
                	<h2>Truy cập nhanh</h2>
                </div>
                <div class="content_truycapnhanh">
               	  <div class="menu_footer">
                    	<li><a href="index.html">Trang chủ</a></li>
                      <img src="images/icon_next.png" title="" alt=""  />                    
                  </div>
                  <div class="menu_footer">
                    	<li><a href="dang-ky.html">Đăng ký</a></li>
                      <img src="images/icon_next.png" title="" alt=""  />                    
                  </div>
                 
                  <div class="menu_footer">
                    	<li><a href="khuyen-mai.html">Khuyến mại</a></li>
                      <img src="images/icon_next.png" title="" alt=""  />                    
                  </div>
                </div>
            </div>
        	<div class="copy_right fl">
            	<p>Phát triển bởi VinaPhone 2005-2014. Bản quyền đã đăng ký.</br>
Giấy phép số: 337/GP-BC do Bộ Thông tin</br> Truyền thông cấp ngày 10/11/2006.
</p>
            </div>
        </div>
        <div class="clear"></div>
        
    </div>
<!--end main-->    
</body>
</html>
