<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SleepSecond" value="1800"/>
       <!--Chay report tu ngay nay theo dinh dang dd-MM-yyyy-->
    <add key="StartDate" value="09-10-2014"/>
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="ConnectionKey_Source" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueakDsYcnqZlBgspUBayMttyIqcrwLtYeuh/bj0VpXORGxp0EnpIpLb58obyDUOUc3XRkkkaSGbSC59O0Pdm0yDOfq+5riO4wBrtgdb0RY0CMQluhZ45RcL2I41J3coCOFEj/bZxLWflXJoPTxQ5kmgb52wgsjkGGdcwppEID+ylQ1skeGO5LUPebTG/8gqjRbU="/>
    <add name="ConnectionKey_Des" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueakDsYcnqZlBgspUBayMttyIqcrwLtYeuh/bj0VpXORGxp0EnpIpLb58obyDUOUc3XRkkkaSGbSC59O0Pdm0yDOfq+5riO4wBrtgdb0RY0CMQluhZ45RcL2I41J3coCOFEj/bZxLWflXJoPTxQ5kmgb52wgsjkGGdcwppEID+ylQ1skeGO5LUPebTG/8gqjRbU="/>

  </connectionStrings>
</configuration>