<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SleepSecond" value="1800"/>
    <!--Chay report tu ngay nay-->
    <add key="StartDate" value="2014-08-12"/>
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="ConnectionKey_Source" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh0LNdUU4AkXtKmEcqSy9VzGlzAgPXwlnkt4c90CgT8Nc4ey+qD/VCNFiL+4TvqgMlmi6k8zOzuGH0wkXC1Ag3IvRaxhZ/nqbW8HmEvZjqf+VFikn9tTue1fhw2EcQ495ZxR7vzv0KzgVmDCIXBjyD4+vuCAskETeAgcYgJv30sN4="/>
    <add name="ConnectionKey_Des" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh0LNdUU4AkXtKmEcqSy9VzGlzAgPXwlnkt4c90CgT8Nc4ey+qD/VCNFiL+4TvqgMlmi6k8zOzuGH0wkXC1Ag3IvRaxhZ/nqbW8HmEvZjqf+VFikn9tTue1fhw2EcQ495ZxR7vzv0KzgVmDCIXBjyD4+vuCAskETeAgcYgJv30sN4="/>

  </connectionStrings>
</configuration>