<table>
                                                <tbody>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Ngày</th>
                                                        <th>Họ và Tên</th>
                                                        <th>Số điện thoại</th>
                                                        <th>
                                                            Địa chỉ
                                                        </th>
                                                        <th>Giải thưởng</th>
                                                        <th>Tên nhân vật</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>9/4/2014</td>
                                                        <td>Võ Thành Duy</td>
                                                        <td>849477187XX</td>
                                                        <td>
                                                            84 Đường 1, Phường An Lạc, Q. Bình Tân,
                                                            TP,HCM
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Hồ Ngọc Hà</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>9/5/2014</td>
                                                        <td>Phạm Thị Hồng</td>
                                                        <td>849499221XX</td>
                                                        <td>
                                                            74/1/9 Trương Quốc Dung, P.10,
                                                            Q. Phú Nhuận, TP.HCM
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Bill Gates</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>9/6/2014</td>
                                                        <td>Trần Thị Kim Lan</td>
                                                        <td>8412398249XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung
                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Angelina Jolie</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>9/7/2014</td>
                                                        <td>Trần Thị Kim Lan</td>
                                                        <td>8412398249XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung
                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Chế Lan Viên</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>9/8/2014</td>
                                                        <td>Trần Tuấn Anh</td>
                                                        <td>8412396828XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung

                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Lương Định Của</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>9/9/2014</td>
                                                        <td>Trần Tuấn Anh</td>
                                                        <td>8412396828XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung

                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Trần Thu Hà</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>9/10/2014</td>
                                                        <td>Trần Tuấn Anh</td>
                                                        <td>8412396828XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung
                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Vladimir Lenin</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>9/11/2014</td>
                                                        <td>Trần Thị Kim Lan</td>
                                                        <td>8412398249XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung

                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Mỹ Linh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>9/12/2014</td>
                                                        <td>Nguyễn Vân Qúy</td>
                                                        <td>849449636XX</td>
                                                        <td>1/1 Khóm 2 Lý Bôn, P.4, TP. Cà Mau</td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Hồ Chí Minh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>9/13/2014</td>
                                                        <td>Trần Thị Kim Lan</td>
                                                        <td>8412398249XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung
                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Lionel Messi</td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>9/14/2014</td>
                                                        <td>Trần Thị Kim Lan</td>
                                                        <td>8412398249XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung
                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Trịnh Công Sơn</td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td>9/15/2014</td>
                                                        <td>Trần Thị Kim Lan</td>
                                                        <td>8412398249XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung
                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Hoài Linh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td>9/16/2014</td>
                                                        <td>Huỳnh Ngọc Hướng</td>
                                                        <td>849184038XX</td>
                                                        <td>
                                                            Ấp Kim Định, Xã Tân Kim, Huyện Cần
                                                            Giuộc, tỉnh Long An
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Đoàn Nguyên Đức</td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td>9/17/2014</td>
                                                        <td>Trần Thị Kim Lan</td>
                                                        <td>8412398249XX</td>
                                                        <td>
                                                            22b ngõ lan bá - phường Trung
                                                            Phụng - Đống Đa - HN
                                                        </td>
                                                        <td>Nokia Lumia 525</td>
                                                        <td>Mỹ Tâm</td>
                                                    </tr>

                                                </tbody>
                                            </table>